admin/index:
  path: /admin
  controller: ['App\Module\Admin\Controller\Index', 'dashboard']
  options:
    aclComment: Доступ к главной странице в админке (dashboard)

# Setting
admin/setting:
  path: /admin/setting
  controller: ['App\Module\Admin\Controller\Setting', 'setting']
  options:
    aclComment: Настройки сайта

#  USERS
admin/users:
  path: /admin/users/list
  controller: ['App\Module\Admin\Controller\Users', 'list']
  options:
    aclComment: Доступ к просмотру списка пользователей


admin/adduser:
  path: /admin/users/add
  controller: ['App\Module\Admin\Controller\Users', 'add']
  options:
    aclComment: Добавление пользователей


admin/edituser:
  path: /admin/users/edit/@{id}
  controller: ['App\Module\Admin\Controller\Users', 'edit']
  requirements:
    id: '\d+'
  options:
    aclComment: Редактирование пользователей


admin/deleteuser:
  path: /admin/users/delete/{id}
  controller: ['App\Module\Admin\Controller\Users', 'delete']
  requirements:
    id: '\d+'
  options:
    aclComment: Удаление пользователей


admin/user/changepassword:
  path: /admin/users/changepassword@{id}
  controller: ['App\Module\Admin\Controller\Users', 'changePassword']
  requirements:
    id: '\d+'
  options:
    aclComment: Изменение паролей у пользователей



admin/groups:
  path: /admin/groups
  controller: ['App\Module\Admin\Controller\Groups', 'list']
  options:
    aclComment: Доступ к просмотру списка групп

admin/addgroup:
  path: /admin/groups/add
  controller: ['App\Module\Admin\Controller\Groups', 'add']
  options:
    aclComment: Добаление групп пользователей

admin/editgroup:
  path: /admin/groups/edit/{id}
  controller: ['App\Module\Admin\Controller\Groups', 'edit']
  requirements:
    id: '\d+'
  options:
    aclComment: Редактирование групп пользователей

admin/deletegroup:
  path: /admin/deletegroups@{id}
  controller: ['App\Module\Admin\Controller\Groups', 'delete']
  requirements:
    id: '\d+'
  options:
    aclComment: Удаление групп пользователей

# Blocks

admin/blocks:
  path: /admin/blocks/setting
  controller: ['App\Module\Admin\Controller\Blocks', 'manage']
  options:
    aclComment: Просмотр активных блоков

admin/editblock:
  path: /admin/blocks/edit/{id}
  controller: ['App\Module\Admin\Controller\Blocks', 'edit']
  requirements:
    id: '\d+'
  options:
    aclComment: Редактирование блоков


admin/cloneblocks:
  path: /admin/blocks/clone/{id}
  controller: ['App\Module\Admin\Controller\Blocks', 'clone']
  requirements:
    id: '\d+'
  options:
    aclComment: Клонирование блоков

admin/deleteblocks:
  path: /admin/blocks/delete/{id}
  controller: ['App\Module\Admin\Controller\Blocks', 'delete']
  requirements:
    id: '\d+'
  options:
    aclComment: Удаление блоков

admin/addblock:
  path: /admin/blocks/add
  controller: ['App\Module\Admin\Controller\Blocks', 'add']
  options:
    aclComment: Добавление пользовательского блока (простой текстовый блок)

admin/setupblocks:
  path: /admin/blocks/setup
  controller: ['App\Module\Admin\Controller\Blocks', 'setUp']
  options:
    aclComment: Активация, регистрация, отключение и тд. блоков
