{% extends "@a/layout.twig" %}
{% block content %}
<section class="content">


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Настройки сайта</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {{ sitename }}
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
{% endblock %}