<div class="small-box bg-warning h-100 d-flex flex-column justify-content-between">
    <div class="inner">
        <h3>{{ countUsers }}</h3>
        <p>Зарегистрированные пользователи</p>
    </div>
    <div class="icon">
        <i class="ion ion-person-add"></i>
    </div>
    <a href="{{ path('admin/users') }}" class="small-box-footer">Подробнее <i class="fas fa-arrow-circle-right"></i></a>
</div>
