{% extends "@a/layout.twig" %}
{% block content %}
<section class="content">


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Настройки сайта {{ sitename }}  <a href="{{ path('admin/setting/add') }}">добавить новую настройку</a> </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {{ form.render|raw }}
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
{% endblock %}