{% extends '@a/layout.twig' %}
{% do asset('css', [
    {0: 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css','minify': false},
    {0:  '../modules/admin/node_modules/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/jqvmap.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css','minify': false},
    {0:  '../modules/admin/node_modules/admin-lte/plugins/summernote/summernote-bs4.min.css','minify': false},
]) %}
{% do asset('js', [
    {0: '../modules/admin/node_modules/admin-lte/plugins/chart.js/Chart.min.js','minify': true},
    {0: '../modules/admin/node_modules/admin-lte/plugins/sparklines/sparkline.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/jquery.vmap.min.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/maps/jquery.vmap.usa.js','minify': true},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jquery-knob/jquery.knob.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/moment/moment.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/summernote/summernote-bs4.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/dist/js/pages/dashboard.js', 'minify': false}
]) %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                {% for widget in widgets %}
                    <div class="col">
                        {{ ViewWidget(widget.getId) }}
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
