{% set appLinks = routeCollection|filter(r => r.option('admin')) %}
{% if appLinks|length > 0 %}
    <li class="nav-header">ПРИЛОЖЕНИЕ (APPLICATION)</li>
    {% for name, route in  appLinks %}
        {% if access(name) %}
            <li class="nav-item">
                <a href="{{ path(name) }}" class="nav-link">
                    <i class="fas fa-dot-circle nav-icon"></i>
                    <p>{{ route.getOption('admin')[0] ?? route.getOption('admin').title ?? route.getOption('admin') }}</p>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="m-5"></li>
{% endif %}
